.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 880px) {
  .header__logo {
    padding-left: 30px;
  }
}

@media screen and (max-width: 426px) {
  .header__logo {
    width: 103px;
    height: 25px;
  }
}
