.popup__button-save {
  font-family: 'Inter', Arial, sans-serif;
  width: 358px;
  background-color: #000000;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  padding: 14px 0 18px;
  margin-top: 0px;
  border: none;
  transition: all .1s linear;
}

.popup__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__button-save {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 0;
  }
}

@media screen and (max-width: 320px) {
  .popup__button-save {
    padding: 14px 0;
  }
}
