.popup__success-title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin: 0 0 40px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .popup__success-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 41px;
  }
}

@media screen and (max-width: 320px) {
  .popup__success-title {
    margin-bottom: 55px;
  }
}
