.card__list-img {
  height: 282px;
  width: 100%;
  border: none;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background: linear-gradient(blue, pink); */
  object-fit: cover;
}
